table {
        text-align: center;
    }

    .purple {
        color: #a020f0;
        font-weight: 600;
    }

    .blue {
        color: #1e90ff;
        font-weight: 600;
    }

    .kungfu {
        font-weight: bold;
        color: #333;
    }
