.jx3-template td.win {
    color: #2fbf71;
    font-weight: bold;
}

.jx3-template td.lose {
    color: #e65050;
    font-weight: bold;
}

.jx3-template td.mmr-up {
    color: #2fbf71;
}

.jx3-template td.mmr-down {
    color: #e65050;
}

.jx3-template--zhanji .data-table :where(th, td) {
    text-align: center;
}
