{# template-title: 百战异闻录 #}

<div class="container baizhan-page">
    <div class="info-bar">
        <div class="time">{{ start }} 至 {{ end }}</div>
        <div class="boss-final">荡剑恩仇：{{ boss }}</div>
    </div>
    <div class="grid" style="--grid-columns: {{ columns | default(4) }}">
        {% for item in list %}
        <div class="cell">
            <span class="index">第{{ item.index }}层</span>
            <span class="boss">{{ item.name }}</span>
            <div class="effects">
                {% if item.data.list %}
                <span class="effect">
                    {% for effect in item.data.list %}
                    <span class="effect-part {{ effect.class }}">{{ effect.text }}</span>
                    {% endfor %}
                </span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
