{# template-title: {{ title }} #}
{# template-components: data-table #}


<div class="container data-page">
    <h1>{{ title }}</h1>
    {% if subtitle %}
    <div class="data-page__meta">{{ subtitle }}</div>
    {% endif %}
    {% if note %}
    <div class="data-note">{{ note }}</div>
    {% endif %}
    <table class="data-table table-striped">
        <thead>
            <tr>
                {% for col in columns %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                {% for cell in row %}
                <td class="data-cell--wrap">{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
