{# template-title: 掉落记录 #}
{# template-components: data-table #}


<div class="container data-page">
<table class="data-table table-striped">
        <thead>
            <tr>
                <th>物品名称</th>
                <th>服务器</th>
                <th>地点</th>
                <th>角色名称</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.itemName }}</td>
                <td>{{ item.server }}</td>
                <td>{{ item.mapName }}</td>
                <td>{{ item.roleName }}</td>
                <td>{{ item.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
