{# template-title: 花价查询 #}
{# template-components: data-table data-extras #}


<div class="container data-page">
    <h1>花价查询（{{ server }}）</h1>

    {% for map_name in [
        '九寨沟·镜海',
        '枫叶泊·乐苑',
        '浣花水榭',
        '枫叶泊·天苑',
        '广陵邑'
    ] %}

        {% if data.get(map_name) %}
        <h2 class="data-subtitle">{{ map_name }}</h2>

        <table class="data-table">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>颜色</th>
                    <th>倍率</th>
                    <th>分线</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data[map_name] %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>
                        {% if item.color %}
                            {{ item.color }}
                        {% else %}
                            <span class="empty">—</span>
                        {% endif %}
                    </td>
                    <td class="data-price">{{ item.price }}</td>
                    <td class="data-note">
                        {{ item.line | join('、') }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    {% endfor %}
</div>
