{# template-title: 金价 #}
{# template-components: data-table #}


<div class="container data-page">

    <table class="data-table table-striped">
        <thead>
            <tr>
                <th>服务器</th>
                <th>贴吧</th>
                <th>万宝楼</th>
                <th>dd373</th>
                <th>uu898</th>
                <th>5173</th>
                <th>7881</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
        {% for m in items %}
            <tr>
                <td class="data-cell--strong">{{ m.server }}</td>
                <td>
                    <span class="platform-price{% if m.lowest_platform == 'tieba' %} is-best{% endif %}">
                        <i class="platform-dot platform-dot--tieba"></i>{{ m.tieba }}
                    </span>
                </td>
                <td>
                    <span class="platform-price{% if m.lowest_platform == 'wanbaolou' %} is-best{% endif %}">
                        <i class="platform-dot platform-dot--wanbaolou"></i>{{ m.wanbaolou }}
                    </span>
                </td>
                <td>
                    <span class="platform-price{% if m.lowest_platform == 'dd373' %} is-best{% endif %}">
                        <i class="platform-dot platform-dot--dd373"></i>{{ m.dd373 }}
                    </span>
                </td>
                <td>
                    <span class="platform-price{% if m.lowest_platform == 'uu898' %} is-best{% endif %}">
                        <i class="platform-dot platform-dot--uu898"></i>{{ m.uu898 }}
                    </span>
                </td>
                <td>
                    <span class="platform-price{% if m.lowest_platform == '5173' %} is-best{% endif %}">
                        <i class="platform-dot platform-dot--5173"></i>{{ m['5173'] }}
                    </span>
                </td>
                <td>
                    <span class="platform-price{% if m.lowest_platform == '7881' %} is-best{% endif %}">
                        <i class="platform-dot platform-dot--7881"></i>{{ m['7881'] }}
                    </span>
                </td>
                <td>{{ m.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
