{# template-title: 区服各平台金价 #}
{# template-components: data-table #}


<div class="container data-page">
    <h1>区服各平台金价</h1>

    <table class="data-table data-table--spaced">
        <thead>
            <tr>
                <th>服务器</th>
                <th>贴吧</th>
                <th>万宝楼</th>
                <th>dd373</th>
                <th>uu898</th>
                <th>5173</th>
                <th>7881</th>
                <th>时间</th>
            </tr>
        </thead>

        <tbody>
        {% for m in items %}
            <tr>
                <td>{{ m.server }}</td>
                <td>{{ m.tieba }}</td>
                <td>{{ m.wanbaolou }}</td>
                <td>{{ m.dd373 }}</td>
                <td>{{ m.uu898 }}</td>
                <td>{{ m.5173 }}</td>
                <td>{{ m.7881 }}</td>
                <td>{{ m.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
