{# template-title: 日常推演 #}


<div class="container">

    <table class="data-table">
        <thead>
            <tr>
                <th>星期一</th>
                <th>星期二</th>
                <th>星期三</th>
                <th>星期四</th>
                <th>星期五</th>
                <th>星期六</th>
                <th>星期日</th>
            </tr>
        </thead>
        <tbody>
            {% for row in range(0, items|length, 7) %}
            <tr>
                {% for m in items[row:row+7] %}
                <td class="{% if m.compare == '今天' %}today{% elif m.compare == '过去' %}past{% endif %}">
                    {% if m.en %}
                    <div class="date">{{ m.date }}</div>
                    <div class="line">{{ m.war }}</div>
                    <div class="line">{{ m.battle }}</div>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
