{# template-title: 烟花记录 #}
{# template-components: data-table #}


<div class="container data-page">
<table class="data-table table-striped">
        <thead>
            <tr>
                <th>服务器</th>
                <th>烟花</th>
                <th>地图</th>
                <th>赠送人</th>
                <th>接收人</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
        {% for m in list %}
            <tr>
                <td>{{ m.server }}</td>
                <td>{{ m.firework }}</td>
                <td>{{ m.mapName }}</td>
                <td class="data-cell--nowrap {{ 'query-role' if m.sender == roleName else '' }}">{{ m.sender }}</td>
                <td class="data-cell--nowrap {{ 'query-role' if m.receiver == roleName else '' }}">{{ m.receiver }}</td>
                <td>{{ m.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
