{# template-title: 阵营事件 #}
{# template-components: data-table #}


<div class="container data-page">
<table class="data-table data-table--camp-tinted">
        <thead>
            <tr>
                <th>阵营</th>
                <th>分线</th>
                <th>服务器</th>
                <th>角色名称</th>
                <th>时间</th>
            </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr
                {% if item.camp_name == '恶人谷' %}
                    class="camp-eren"
                {% elif item.camp_name == '浩气盟' %}
                    class="camp-haoqi"
                {% endif %}
            >
                <td class="data-cell--camp data-cell--center data-cell--nowrap data-cell--strong">
                    {% if item.camp_name == '恶人谷' and icons.img.get('恶人谷') %}
                    <img class="camp-icon" src="{{ icons.img['恶人谷'] }}" alt="">
                    {% elif item.camp_name == '浩气盟' and icons.img.get('浩气盟') %}
                    <img class="camp-icon" src="{{ icons.img['浩气盟'] }}" alt="">
                    {% elif item.camp_name == '中立' and icons.img.get('中立') %}
                    <img class="camp-icon" src="{{ icons.img['中立'] }}" alt="">
                    {% endif %}
                    {{ item.camp_name }}
                </td>
                <td class="data-cell--medium data-cell--center data-cell--nowrap data-cell--strong">{{ item.fenxianName }}</td>
                <td class="data-cell--medium data-cell--center data-cell--nowrap data-cell--strong">{{ item.friendName }}</td>
                <td class="data-cell--name data-cell--copy">{{ item.roleName }}</td>
                <td class="data-cell--time">{{ item.seizeTime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
