{# template-title: 家园家具一览 #}
{# template-components: object-card #}


<div class="container data-page">
    <h1>家园家具展示</h1>

    {% for item in data %}
    <div class="object-card">
        <img class="object-card__image" src="{{ item.image }}" alt="{{ item.name }}">

        <div class="object-card__content">
            <div class="object-card__title quality-{{ item.color }}">
                {{ item.name }}
            </div>

            <div class="object-card__meta">
                <span>来源：{{ item.source }}</span>
                <span>数量限制：{{ item.limit }}</span>
                <span>品质值：{{ item.quality }}</span>
            </div>

            {% if item.tip %}
            <div class="object-card__tip">
                {{ item.tip }}
            </div>
            {% endif %}

            <div class="object-stats" style="--grid-columns: 5">
                <div class="object-stat">
                    <div class="object-stat__label">观赏</div>
                    <div class="object-stat__value">{{ item.view }}</div>
                </div>
                <div class="object-stat">
                    <div class="object-stat__label">实用</div>
                    <div class="object-stat__value">{{ item.practical }}</div>
                </div>
                <div class="object-stat">
                    <div class="object-stat__label">坚固</div>
                    <div class="object-stat__value">{{ item.hard }}</div>
                </div>
                <div class="object-stat">
                    <div class="object-stat__label">风水</div>
                    <div class="object-stat__value">{{ item.geomantic }}</div>
                </div>
                <div class="object-stat">
                    <div class="object-stat__label">趣味</div>
                    <div class="object-stat__value">{{ item.interesting }}</div>
                </div>
            </div>

            <div class="object-card__footer">
                建筑适配：{{ item.architecture }}　
                {% if item.produce %}
                    ｜可制作
                {% else %}
                    ｜不可制作
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
