{# template-title: 诛恶事件 #}
{# template-components: data-table #}


<div class="container data-page">
<table class="data-table">
        <thead>
            <tr>
                <th>服务器</th>
                <th>地图</th>
                <th>时间</th>
            </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                <td class="data-cell--wide data-cell--center data-cell--nowrap">{{ item.server }}</td>
                <td class="data-cell--wrap">{{ item.mapName }}</td>
                <td class="data-cell--time">{{ item.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
