{# template-title: 资历查询 #}
{# template-components: data-table #}


<div class="container">
    <div class="header">
        <div class="title-row">
<div class="role">
                {% if icons.sect.get(force_name) %}
                <img class="force-icon" src="{{ icons.sect[force_name] }}" alt="{{ force_name }}">
                {% endif %}
                <span>{{ role_name }}</span>
            </div>
        </div>
        <div class="meta">
            {{ zone }} · {{ server }} · {{ force_name }} ·
            {% if camp_name == '恶人谷' and icons.img.get('恶人谷') %}
            <img class="camp-icon camp-icon--inline" src="{{ icons.img['恶人谷'] }}" alt="">
            {% elif camp_name == '浩气盟' and icons.img.get('浩气盟') %}
            <img class="camp-icon camp-icon--inline" src="{{ icons.img['浩气盟'] }}" alt="">
            {% elif camp_name == '中立' and icons.img.get('中立') %}
            <img class="camp-icon camp-icon--inline" src="{{ icons.img['中立'] }}" alt="">
            {% endif %}
            {% if camp_name == '恶人谷' %}<span class="camp-label camp-eren">{{ camp_name }}</span>{% elif camp_name == '浩气盟' %}<span class="camp-label camp-haoqi">{{ camp_name }}</span>{% elif camp_name == '中立' %}<span class="camp-label camp-neutral">{{ camp_name }}</span>{% else %}{{ camp_name }}{% endif %} · 帮会：{{ tong_name }}<br>
            资历更新时间：{{ updated_at or "未知" }} · 查询时间：{{ update_time }}
        </div>
    </div>

    <div class="summary">
        <div class="summary-top">
            <div class="summary-name">{{ summary.name }}</div>
            <div class="summary-percent">{{ summary.percent_text }}</div>
        </div>
        <div class="score">
            {{ summary.completed_points }} / {{ summary.total_points }} 点
            · {{ summary.completed_count }} / {{ summary.achievement_count }} 项
        </div>
        <div class="progress">
            <div class="progress-fill" style="width: {{ summary.percent }}%;"></div>
        </div>
    </div>

    <div class="list">
        {% for item in items %}
        <div class="item">
            <div class="item-top">
                <div class="item-name">{{ item.name }}</div>
                <div class="item-percent">{{ item.percent_text }}</div>
            </div>
            <div class="score">
                {{ item.completed_points }} / {{ item.total_points }} 点
                · {{ item.completed_count }} / {{ item.achievement_count }} 项
            </div>
            <div class="progress">
                <div class="progress-fill" style="width: {{ item.percent }}%;"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

